
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 45% 96.5%;
    --foreground: 228 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 228 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 50% 10%;
    --primary: 228 77% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 45% 92%;
    --secondary-foreground: 228 77% 30%;
    --muted: 233 20% 90%;
    --muted-foreground: 228 10% 40%;
    --accent: 201 77% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 20% 88%;
    --input: 228 20% 88%;
    --ring: 228 77% 52%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 228 50% 5%;
    --foreground: 228 10% 95%;
    --card: 228 50% 8%;
    --card-foreground: 228 10% 95%;
    --popover: 228 50% 8%;
    --popover-foreground: 228 10% 95%;
    --primary: 228 77% 60%;
    --primary-foreground: 228 50% 5%;
    --secondary: 228 30% 15%;
    --secondary-foreground: 228 77% 80%;
    --muted: 228 30% 15%;
    --muted-foreground: 228 10% 65%;
    --accent: 201 77% 60%;
    --accent-foreground: 228 50% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 30% 18%;
    --input: 228 30% 18%;
    --ring: 228 77% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
